<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <title>Mi Web de Gimnasio - Categorías</title>
  <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
  <header>
    <h1>Mi Web de Gimnasio</h1>
    <nav><a href="/">Inicio</a></nav>
  </header>

  <main>
    <h2>Categorías</h2>
    <ul>
      <% categorias.forEach(cat => { %>
        <li><a href="/categoria/<%= cat.id %>"><%= cat.nombre %></a></li>
      <% }) %>
    </ul>
  </main>

  <footer>
    <p>&copy; 2025 Adrián</p>
  </footer>
</body>
</html>
